<template>
    <div id="main-page" class="wrapper" :class="loadingClass">
        <div class="content">
            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="logo-icon"><g><circle fill="#FF4500" cx="10" cy="10" r="10"></circle><path fill="#FFF" d="M16.67,10A1.46,1.46,0,0,0,14.2,9a7.12,7.12,0,0,0-3.85-1.23L11,4.65,13.14,5.1a1,1,0,1,0,.13-0.61L10.82,4a0.31,0.31,0,0,0-.37.24L9.71,7.71a7.14,7.14,0,0,0-3.9,1.23A1.46,1.46,0,1,0,4.2,11.33a2.87,2.87,0,0,0,0,.44c0,2.24,2.61,4.06,5.83,4.06s5.83-1.82,5.83-4.06a2.87,2.87,0,0,0,0-.44A1.46,1.46,0,0,0,16.67,10Zm-10,1a1,1,0,1,1,1,1A1,1,0,0,1,6.67,11Zm5.81,2.75a3.84,3.84,0,0,1-2.47.77,3.84,3.84,0,0,1-2.47-.77,0.27,0.27,0,0,1,.38-0.38A3.27,3.27,0,0,0,10,14a3.28,3.28,0,0,0,2.09-.61A0.27,0.27,0,1,1,12.48,13.79Zm-0.18-1.71a1,1,0,1,1,1-1A1,1,0,0,1,12.29,12.08Z"></path></g></svg><svg class="logo-text" viewBox="0 0 57 18" xmlns="http://www.w3.org/2000/svg"><g fill="#1c1c1c"><path d="M54.63,16.52V7.68h1a1,1,0,0,0,1.09-1V6.65a1,1,0,0,0-.93-1.12H54.63V3.88a1.23,1.23,0,0,0-1.12-1.23,1.2,1.2,0,0,0-1.27,1.11V5.55h-1a1,1,0,0,0-1.09,1v.07a1,1,0,0,0,.93,1.12h1.13v8.81a1.19,1.19,0,0,0,1.19,1.19h0a1.19,1.19,0,0,0,1.25-1.12A.17.17,0,0,0,54.63,16.52Z"></path><circle fill="#FF4500" cx="47.26" cy="3.44" r="2.12"></circle><path d="M48.44,7.81a1.19,1.19,0,1,0-2.38,0h0v8.71a1.19,1.19,0,0,0,2.38,0Z"></path><path d="M30.84,1.19A1.19,1.19,0,0,0,29.65,0h0a1.19,1.19,0,0,0-1.19,1.19V6.51a4.11,4.11,0,0,0-3-1.21c-3.1,0-5.69,2.85-5.69,6.35S22.28,18,25.42,18a4.26,4.26,0,0,0,3.1-1.23,1.17,1.17,0,0,0,1.47.8,1.2,1.2,0,0,0,.85-1.05ZM25.41,15.64c-1.83,0-3.32-1.77-3.32-4s1.48-4,3.32-4,3.31,1.78,3.31,4-1.47,3.95-3.3,3.95Z"></path><path d="M43.28,1.19A1.19,1.19,0,0,0,42.09,0h0a1.18,1.18,0,0,0-1.18,1.19h0V6.51a4.15,4.15,0,0,0-3-1.21c-3.1,0-5.69,2.85-5.69,6.35S34.72,18,37.86,18A4.26,4.26,0,0,0,41,16.77a1.17,1.17,0,0,0,1.47.8,1.19,1.19,0,0,0,.85-1.05ZM37.85,15.64c-1.83,0-3.31-1.77-3.31-4s1.47-4,3.31-4,3.31,1.78,3.31,4-1.47,3.95-3.3,3.95Z"></path><path d="M17.27,12.44a1.49,1.49,0,0,0,1.59-1.38v-.15a4.81,4.81,0,0,0-.1-.85A5.83,5.83,0,0,0,13.25,5.3c-3.1,0-5.69,2.85-5.69,6.35S10.11,18,13.25,18a5.66,5.66,0,0,0,4.39-1.84,1.23,1.23,0,0,0-.08-1.74l-.11-.09a1.29,1.29,0,0,0-1.58.17,3.91,3.91,0,0,1-2.62,1.12A3.54,3.54,0,0,1,10,12.44h7.27Zm-4-4.76a3.41,3.41,0,0,1,3.09,2.64H10.14A3.41,3.41,0,0,1,13.24,7.68Z"></path><path d="M7.68,6.53a1.19,1.19,0,0,0-1-1.18A4.56,4.56,0,0,0,2.39,6.91V6.75A1.2,1.2,0,0,0,0,6.75v9.77a1.23,1.23,0,0,0,1.12,1.24,1.19,1.19,0,0,0,1.26-1.1.66.66,0,0,0,0-.14v-5A3.62,3.62,0,0,1,5.81,7.7a4.87,4.87,0,0,1,.54,0h.24A1.18,1.18,0,0,0,7.68,6.53Z"></path></g></svg>
                <p>upvote validator</p>
            </div>
            <div id="job" v-if="job.id && job.username">
                <h2>✅ Upvote successful!</h2>
                <p>Job id: {{job.id}}</p>
                <p>Username: <a :href="origin+'?user='+job.username">{{job.username}}</a></p>
                <p>Task id: {{job.taskId}}</p>
                <p>Datetime: {{job.datetime}}</p>
            </div>
            <div id="user" v-else-if="$route.query.user && !loading">
                <h2>User account:</h2>
                <p>u/{{user.username}}</p>
                <p>Karma: {{user.karma}}</p>
                <p v-if="user.created">Registered on {{user.created.toDateString()}} ({{user.days}} day/s old)</p>
                <p>Jobs:</p>
                <p v-for="jobId in user.jobs">
                    <a :href="origin+'?job='+jobId">{{jobId}}</a>
                </p>
            </div>
            <div id="login" v-else-if="!user.username && !$cookies.get('username') && !loading">
                <input type="text" name="username" id="username-input" placeholder="Reddit Username" v-model="username">
                <button @click="login">Log In</button>
            </div>
            <div id="loggedIn" v-else-if="user.username && !loading">
                <div id="adminka" v-if="user.admin">
                    <div id="newTask">
                        <h2>Create new task</h2>
                        <input type="text" name="newTaskURL" placeholder="URL" v-model="newTaskURL">
                        <input type="text" name="newTaskText" placeholder="Task text" v-model="newTaskText">
                        <button @click="createTask">Create</button>
                    </div>

                    <div id="taskList">
                        <hr>
                        <h2>Task List</h2>
                        <div class="task" v-for="task in tasks" :key="task.id">
                            <a :href="task.getLink()">{{task.getLink()}}</a>
                            <input type="text" :name="task.id+'URL'" placeholder="URL" v-model="task.url">
                            <input type="text" :name="task.id+'Text'" placeholder="Task text" v-model="task.text">
                            <input type="text" v-model="task.users" readonly>
                            <button @click="task.remove()">Remove</button>
                        </div>
                    </div>
                </div>

                <div id="task" v-else>
                    <h2>Task</h2>

                    <div id="denied" v-if="user.days < 3">
                        Not available. Reddit account must be 3+ days old. Please, <a @click="logout">Log Out</a> and try with another one.
                    </div>

                    <div id="taskText" v-else-if="task.text && task.text.length">
                        <p v-for="textStepHtml in task.textHtml.split('\\n')" v-html="textStepHtml"></p>

                        <div id="votesNotPublic" v-if="votesNotPublic && !done">
                            <h3>Your votes are not public</h3>
                            <p>Go to <a href="https://old.reddit.com/prefs" target="_blank">old.reddit.com/prefs</a> and check
                                <br>
                                ✅ 'make my votes public' option (<a href="img/makeMyVotesPublic.jpeg" target="_blank">see image</a>).
                                <br>
                                Click the below button again once you do this step.</p>
                        </div>

                        <div id="done" v-else-if="done">
                            <h2>✅ Upvote successful!</h2>
                            <p>Your Proof of Work code:</p>
                            <input type="text" id="doneInput" :value="done" readonly @click="copy">
                            <button @click="copy" id="copyButton">Copy</button>
                        </div>

                        <button @click="checkJob" :class="checkingClass" v-if="!done">Check my upvote</button>
                    </div>
                </div>

                <div id="account">
                    <hr>
                    <h2>Your account:</h2>
                    <p>u/{{user.username}}</p>
                    <p>Karma: {{user.karma}}</p>
                    <p>Registered on {{user.created.toDateString()}} ({{user.days}} day/s old)</p>
                    <button @click="logout" id="logout">Log Out</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters, mapMutations } from "vuex"
    import User from '../models/User'
    import Task from '../models/Task'
    import Job from '../models/Job'
    import { v4 as uuidv4 } from 'uuid'

    export default {
        name: 'Main',
        components: {
        },
        data: () => ({
            username: '',
            newTaskURL: '',
            newTaskText: '',
            loading: false,
            checking: false,
            votesNotPublic: false,
            jobId: null
        }),
        methods: {
            ...mapActions(['bindFirebaseCollections', 'unbindFirebaseCollections']),
            ...mapMutations(['setUser', 'setTask', 'setJob']),
            async login() {
                this.loading = true

                let user = new User({ id: this.username })
                await user.fetch()
                if (!user.created) {
                    let response
                    try {
                        response = await axios.get(`https://www.reddit.com/user/${this.username}/about.json`, {headers: {'Content-Type': 'application/json'}})
                    } catch (err) {
                        response = err.response
                    }
                    if (response.data === undefined || response.data.error !== undefined)
                        this.loading = false
                        return alert('User is not exist or banned 🥲')

                    const userData = response.data.data
                    user = new User({
                        username: this.username,
                        karma: userData.total_karma,
                        created: new Date(userData.created * 1000)
                    })
                    user.save()
                }
                this.setUser(user)
                this.$cookies.set('username', user.username)
            },
            async logout() {
                this.loading = true
                this.username = ''
                this.setUser({})
                this.$cookies.remove('username')
                this.unbindFirebaseCollections(['tasks'])
            },
            async createTask() {
                const newTask = new Task({
                    id: uuidv4().split('-')[0]+uuidv4().split('-')[1],
                    url: this.newTaskURL,
                    text: this.newTaskText
                })
                await newTask.save()
                this.setTask(newTask)
                this.newTaskURL = this.newTaskText = ''
            },
            async checkJob() {
                this.checking = true
                let response
                try {
                    response = await axios.get(`https://www.reddit.com/user/${this.user.username}/upvoted.json`, {headers: {'Content-Type': 'application/json'}})
                } catch (err) {
                    response = err.response
                }
                this.checking = false
                if (response.data === undefined || response.data.error !== undefined)
                    return this.votesNotPublic = true

                for (let post of response.data.data.children) {
                    if (this.task.url.includes(post.data.id))
                        this.jobDone()
                }
            },
            async jobDone() {
                this.jobId = uuidv4().split('-')[0]+uuidv4().split('-')[1]
                // update user
                let jobs = this.user.jobs
                jobs[this.task.id] = this.jobId
                this.user.jobs = jobs
                // update jobs
                const newJob = new Job({
                    id: this.jobId,
                    taskId: this.task.id,
                    username: this.user.username,
                    datetime: (new Date).toISOString()
                })
                await newJob.save()
                // update task
                const users = this.task.users
                users.push(this.user.username)
                this.task.users = users
            },
            async copy() {
                document.getElementById('doneInput').select()
                document.getElementById('copyButton').textContent = 'Copied'
                await navigator.clipboard.writeText(window.location.origin+'?job='+this.done)
            }
        },
        computed: {
            ...mapGetters(['user', 'task', 'job', 'tasks']),
            loadingClass() {
                return this.loading ? 'loading' : ''
            },
            checkingClass() {
                return this.checking ? 'loading' : ''
            },
            done() {
                return this.jobId || this.user.jobs[this.task.id]
            },
            origin() {
                return window.location.origin
            }
        },
        watch: {
            async user() {
                if (this.user.admin) {
                    this.bindFirebaseCollections(['tasks'])
                    this.setTask({})
                } else {
                    const taskId = this.$route.query.task
                    if (taskId) {
                        const task = new Task({ id: taskId })
                        await task.fetch()
                        this.setTask(task)
                    }
                }
                this.loading = false
            }
        },
        async mounted () {
            const jobId = this.$route.query.job
            if (jobId) {
                const job = new Job({ id: jobId })
                await job.fetch()
                this.setJob(job)
            } else {
                const username = this.$route.query.user || this.$cookies.get('username')
                if (username && username.length > 0) {
                    this.loading = true
                    const user = new User({id: username})
                    await user.fetch()
                    this.setUser(user)
                }
            }
        }
    }
</script>
