<template>
  <div id="app">
    <router-view/>
    <div class="made-with-love"><p>Made with 💙💛️ by <a href="https://twitter.com/MaxSchnaider" target="_blank">Max Schnaider</a></p></div>
  </div>
</template>

<script>
    export default {

    }
</script>

<style lang="css">
    @import "./assets/css/main.css";
</style>
